@model IEnumerable<CallsCRM.Models.Call>

@{
    ViewData["Title"] = "Calls";
}

<div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Callee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Callee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caller.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.StartTime)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CallId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CallId })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
